
body
{
	width: 100%;
	color: #ffffff;
	font-family: 'Arial Narrow', Helvetica, Arial, sans-serif;
	font-size: 20px;
	/*disable selection*/
	user-select: none;
	-webkit-user-select: none;
}

table {width:100%;}
	.mainLeft, .mainRight {
		vertical-align:top; 
	
		
	}
	
	
.mainRight {
	padding-right: 50px;
	text-align:left;
}
	
td {
	/*border-top: solid;
	border-bottom: solid;
	border-left: solid;
	border-right: solid;*/
	vertical-align: top;
	text-align: left;

}


