
body
{
	width: 100%;
	color: #ffffff;
	font-family: 'Arial Narrow', Helvetica, Arial, sans-serif;
	font-size: 32px;
	/*disable selection*/
	user-select: none;
	-webkit-user-select: none;
}

table {width:100%;}
	.mainLeft, .mainRight {
		vertical-align:top; 
	
		
	}
	
	
.mainRight {
	padding-right: 50px;
	text-align:left;
}
	
td {
	/*border-top: solid;
	border-bottom: solid;
	border-left: solid;
	border-right: solid;*/
	vertical-align: top;
	text-align: left;

}

.title {
	/*NOT WORKING font-family:HelveticaNeueLTStd;*/
	font-family: 'Arial Narrow', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:80px;
	line-height:80px;
	margin: 60px 20px 30px 40px;
	padding:0;
	color: #fff;
}
	
.subtitle {
	font-family: 'Arial Narrow', Helvetica, Arial, sans-serif;
	font-weight:normal;
	font-size:50px;
	line-height:50px;
	padding:0;
	margin: 0 20px 60px 40px;
}

.description {
	/*width:740px;*/
	margin-left: 40px;
	margin-right: 40px;
	vertical-align: top;
	text-align: left;
	font: 36px Georgia, "Times New Roman", Times, serif;
	line-height:50px;
}


.caption {
	font-family: 'Arial Narrow', Helvetica, Arial, sans-serif;
	font-size: 32px;
	font-weight:normal;
	line-height: 38px;
	width:300px;
	margin-top: 20px;
}

.date {
	font-size: 80px;
	font-weight:normal;
	line-height:80px;
	color: #fff;
	margin: 60px 0 15px 100px;
	width: 500px;
}
.register-label, .interest-label {
	font-size: 70px;
	font-weight: normal;
	line-height: 70px;
	color: #969696;
	margin: 0 0 15px 100px;
	width: 500px;
}

.time-location, .registration-url, .interest-to {
	font-size: 30px;
	margin: 0 0 0 100px;
	width: 500px;
}

.location {
	font-size: 30px;
	margin: 0 0 0 100px;
	width: 500px;
}

a {
	font-size: 30px;
	margin-left: 100px;
	color: #ffffff;
	text-decoration: none;
}

.registration-qr {
	margin-left: 100px;
	margin-top: 25px;
}

hr {
	color: #999;
	margin-left: 100px;
	width: 480px;
	margin-top: 50px;
	margin-bottom: 50px;
}

