
body
{
	width: 100%;
	font-family: 'Oswald', sans-serif;
	font-size:2vw;
	font-size: 20px;
	/*disable selection*/
	user-select: none;
	-webkit-user-select: none;
	margin:0;
    overflow:hidden;
    background-size:contain; 
}

table {width:100%;}
	.mainLeft, .mainRight {
		vertical-align:top; 
	
	}
	
	
.mainRight {
	padding-right: 50px;
	text-align:center;
}
	
table {
	color:white;
	font-size:3vw;
	font-weight: 300;
	line-height: 3vw;
	
}

td {
	text-align: center;
}

.event {
	padding-top:10vw;
	font-size:6vw;
	font-weight: 700;
}

.desc {
	font-size:3vw;
	line-height: 3.5vw;
	padding-bottom:2vw;
}

.opacity {
	color: #b9c0d0;
}

.cost {
	font-size:3vw;
	font-weight: 300;
}

.type {
	font-size:3vw;
	font-weight: 300;
}


.website {
	font-size:3vw;
	padding-top:2vw;
}


#logo {
    width:30%;
    height:10%;
    left:3%;
    top:5%;
    z-index:1;
    position:absolute;
	z-index: 99;
}

#logo img{
    width:100%;
    height:auto;
	z-index: 99;
}

#qrcode {
    width:8%;
    height:8%;
    right:3%;
    bottom:15%;
    z-index:1;
    position:absolute;
}

#qrcode img{
    width:100%;
    height:auto;
}

.qrtext {
	font-size:1.3vw;
	text-align: center;
	padding-top:.5vw;
	color:#fff;
	font-weight: 200;
}

#background {
	overflow: hidden;
	position: relative;
	text-align: center;
	
}

#background img {
    min-width:100%;
	-webkit-animation-duration: 205s;
    -webkit-animation-name: slidein;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
}

@-webkit-keyframes "slidein" {
 25% {
   -webkit-transform: scale(1.5) translate3d(-300px, 0px, 0px);
   transform: scale(1.5) translate3d(-300px, 0px, 0px);
 }
 50% {
   -webkit-transform: scale(1) translate3d(0px, 0px, 0px);
   transform: scale(1) translate3d(0px, 0px, 0px);
 }
 75% {
   -webkit-transform: scale(1.5) translate3d(+300px, 0px, 0px);
   transform: scale(1.5) translate3d(+300px, 0px, 0px);
 }
}



